img{
    width: 200px;
}

.container{
    display: flex;
    justify-content: space-around;
}

h1{
    text-align: center;
    background-color: orange;
    color: white;
}

.sections{
    display: flex;
}

section{
    margin: 5px;
}

h2{
    background-color: orange;
}
